.product_name{
    color: red;
   font-family:'Courier New', Courier, monospace;
   font-weight: bold;
   text-transform: uppercase;
   
}

.description{
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5em;
   
    
}

.price{
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 1.8em;
   font-weight: bold;
}